{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href='{% static ' img/controls.png' %}'>
    <link type='text/css' rel="stylesheet" href='{% static 'stylesheet/index.css' %}'>
    <link type='text/css' rel="stylesheet" href='{% static ' stylesheet/lightslider.css' %}'>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src='{% static ' javascript/lightslider.js' %}'></script>
    <script  src='{% static 'javascript/index.js' %}' defer></script>
    
    <title>PMP</title>
  </head>
  <body>
  <div class='flexcontainer'>

        {% comment %} navbar {% endcomment %}
        <nav class='navigationbar'>

            <div class='logo1'><img src='{% static ' img/logo.png' %}' alt='...'></div>

            <div class='hamburger'>
                <a href='#' class='toggle-button'>
                    <span class='bar'></span>
                    <span class='bar'></span>
                    <span class='bar'></span>
                </a>
            </div>

            <div class='navigation-links'>
                <ul>
                    <li><a id='about-btn' href="#about">ABOUT</a></li>
                    <li><a id='mentor-btn' href="#mentor">MENTOR</a></li>
                    <li><a id='testimonials-btn' href="#testimonials">TESTIMONIAL</a></li>
                    <li><a id='faq-btn' href="#faq">FAQ</a></li>
                    <li><a id='contact-btn' href="#contact">CONTACT US</a></li>
                </ul>
            </div>
        </nav>

        <div class='secondFlexBox'>
            <div class='logo'><img src='{% static ' img/logo.png' %}' alt='...'></div>
            <div>
                <div>
                    <h1>PLACEMENT</h1>
                    <h1>MENTORING</h1>
                    <h1>PROGRAM</h1>
                </div>
                <a class='register' href='step-one'>REGISTER</a>
            </div>
        </div>


    </div>

    {% comment %} About section {% endcomment %}
    <div class="section5" id='about'>
        <div class='headBox'>ABOUT</div>
        <div class='about-info'>The Placement Mentoring Program aims at providing mentorship in various core and
            non-core fields such as Finance, Analytics, Consultancy, IT/Software etc. for the final year students in
            order to aid them in their placement process. The program accomplishes this through the contributions of the
            recently graduated batches who have gone through the same placement process and are, therefore, well versed
            with the challenges one might face during the process. The program serves as a medium to connect the
            mentor-mentee pair where the latter finds a helping hand to discuss the strategies to be employed while
            seeking placement in a particular field. PMP initiates the first interaction between the mentor and mentees
            which they can carry forward at their own pace and as per requirements, with intermediate follow-ups to
            overcome any hurdles that may appear.</div>

        <div class="hexagons-div my-3">
            <div class='hexagon-inner-div'>
                <div class="hexagon"><span id='num1'>10+</span></div>
                <p class='departments'>Departments</p>
            </div>

            <div class='hexagon-inner-div'>
                <div class="hexagon"><span id='num3'>200+</span></div>
                <p class='mentors'>Mentors</p>
            </div>

            <div class='hexagon-inner-div'>
                <div class="hexagon"><span id='num2'>500+</span></div>
                <p class='mentees'>Mentees</p>
            </div>

        </div>
    </div>

    {% comment %} Mentor section {% endcomment %}
    <div class="section3" id='mentor'>
        <div class='headBox'>BENEFITS</div>
        <div class='container_honey'>
            <div class='honey'>

                <div class='comb_1'>
                    <div class='item' onmouseover='mouseOver1()' onmouseout="mouseOut1()">
                        <div class='heading '>Guidance</div>
                    </div>
                    <div class='explaination '>
                        <ul>
                            <li>Receive valuable help from the mentor during the entire course of prep, starting from
                                resume reviewing to the final
                                placement process.</li>
                            <li>Utilize the practical tips that helped them crack placements.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class='comb_2'>
                    <div class='item' onmouseover='mouseOver2()' onmouseout="mouseOut2()">
                        <div class='heading'>Communication</div>
                    </div>
                    <div class='explaination '>
                        <ul>
                            <li>Ensure regular communication in these stressful times with the mentor.</li>
                            <li>Do not hesitate to message/ask for doubts. If the mentor is busy, mutually decide upon a
                                suitable time to talk.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class='comb_3'>
                    <div class=' item' onmouseover='mouseOver3()' onmouseout="mouseOut3()">
                        <div class='heading'>Feedback</div>
                    </div>
                    <div class='explaination '>
                        <ul>
                            <li>Receive general fundae for preparing for your interviews, etc., and receive valuable
                                feedback on your performance, which
                                will help you perfect yourself so that you peak at the right time.
                            </li>
                            <li>Ensure regular feedback to our team as well</li>
                        </ul>
                    </div>

                </div>

                <div class='comb_4'>
                    <div class='item' onmouseover='mouseOver4()' onmouseout="mouseOut4()">
                        <div class='heading'>Experience</div>
                    </div>
                    <div class='explaination '>
                        <ul>
                            <li>A mentor can help you procure resources to prepare well.</li>
                            <li>The mentor’s personal experience will be valuable throughout the process, guiding you on
                                what must be done and what
                                should be avoided.
                            </li>
                        </ul>
                    </div>
                </div>


                <div class='content mt-3 container'>
                    <div class='explaination1 hide'>
                        <ul>
                            <li>Receive valuable help from the mentor during the entire course of prep, starting from
                                resume reviewing to the final
                                placement process.</li>
                            <li>Utilize the practical tips that helped them crack placements.
                            </li>
                        </ul>
                    </div>
                    <div class='explaination2 hide'>
                        <ul>
                            <li>Ensure regular communication in these stressful times with the mentor.</li>
                            <li>Do not hesitate to message/ask for doubts. If the mentor is busy, mutually decide upon a
                                suitable time to talk.
                            </li>
                        </ul>
                    </div>
                    <div class='explaination3 hide'>
                        <ul>
                            <li>Receive general fundae for preparing for your interviews, etc., and receive valuable
                                feedback on your performance, which
                                will help you perfect yourself so that you peak at the right time.
                            </li>
                            <li>Ensure regular feedback to our team as well</li>
                        </ul>
                    </div>
                    <div class='explaination4 hide'>
                        <ul>
                            <li>A mentor can help you procure resources to prepare well.</li>
                            <li>The mentor’s personal experience will be valuable throughout the process, guiding you on
                                what must be done and what
                                should be avoided.
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>


    {% comment %} section for FAQ {% endcomment %}
    <div class=' faq'>
        <div class='headBox my-3' id='faq'>FAQ</div>
        <div class='container mt-3'>
            <div class='faq_container'>
                <p class='ques'>Q. Why should you take the guidance of a mentor under PMP?
                </p>
                <p class='ans'>Your mentor has gone through the same placement procedure that you are going to go
                    through. In these critical times,
                    even a little help goes a long way. Having a mentor helps to streamline all the various thoughts you
                    have and clears
                    your doubts. Everything considered the guidance of a mentor is an essential thing that can help you
                    crack placements.
                </p>
            </div>
            <div class='faq_container'>
                <p class='ques'>Q. What is the process after registration for a mentee?
                </p>
                <p class='ans'>After the registration is completed, a mentor will be allocated to you based on your
                    preferences and SOPs. You have to
                    initiate the conversation with your mentor, and then you can mutually decide on the way ahead. We
                    will have a few
                    follow-ups to assist you through any difficulties.
                </p>
            </div>
            <div class='faq_container'>
                <p class='ques'>Q. What will be the use of my personal details?
                </p>
                <p class='ans'>Details such as name, roll number, and contact details will remain confidential till the
                    allocation procedure. Only the
                    allocated mentor will know your contact details.
                </p>
            </div>
            <div class='faq_container'>
                <p class='ques'>Q. What is different in PMP from last time? </p>
                <p class='ans'>
                <ul class='ans'>
                    <li>Mentees will have an option to fill in their preferences for the mentor (based on the work
                        profile).</li>
                    <li>The allocation will also allow cross-department mentor-mentee pairing</li>

                </ul>
                </p>
            </div>
            <div class='faq_container'>
                <p class='ques'>Q. How was the experience of last year's mentees from this program?
                </p>
                <p class='ans'>Based on the feedback received, the mentees were highly benefited from the program last
                    year. The guidance they got from
                    their mentors helped them throughout the placement process. They got to learn from their mentor’s
                    experience, and all
                    the valuable tips and tricks helped them crack placements and the overall process.</p>
            </div>
        </div>
    </div>


    {% comment %} section of testimonials {% endcomment %}
    <div class="section2 testimonial_flex" id='testimonials'>
        <div class='headBox'>SNEAK-PEEK</div>
        <section class="sneak-peek">
            <ul id="autoWidth" class="cs-hidden">
                <li class="item-a">
                    <div class="box">
                        <div class="slide-box">
                            <div class="detail-box">
                                <p class="dept">Mechanical, B. Tech-2021</p>
                                <div class="work-profile1">
                                    <p>Associate Consultant at Mastercard</p>
                                    <p>Consultancy</p>
                                </div>
                                <div class="work-profile2">
                                    <p>Operations Intern at Hero MotoCorp</p><br>
                                    <p>Engineer Intern at Lear Corporation</p><br>
                                    <p>President at ShARE IITB</p><br>
                                </div>

                            </div>
                        </div>

                    </div>
                </li>
                <li class="item-b">
                    <div class="box">
                        <div class="slide-box">
                            <div class="detail-box">
                                <p class="dept">Electrical, DD-2020</p>
                                <div class="work-profile1">
                                    <p>Associate Consultant at Bain and Company</p>
                                    <p>Consultancy</p>
                                </div>
                                <div class="work-profile2">
                                    <p>Internship at Samsung Research Institute</p><br>
                                    <p>SMP Coordinator</p><br>

                                </div>

                            </div>
                        </div>

                    </div>
                </li>
                <li class="item-c">
                    <div class="box">
                        <div class="slide-box">
                            <div class="detail-box">
                                <p class="dept">Electrical, DD-2021</p>
                                <div class="work-profile1">
                                    <p>Data Scientist at Worldquant</p>
                                    <p>Finance</p>
                                </div>
                                <div class="work-profile2">
                                    <p>Internship at Texas Instruments</p><br>
                                    <p></p><br>

                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="item-d">
                    <div class="box">
                        <div class="slide-box">
                            <div class="detail-box">
                                <p class="dept">Mechanical, DD-2021</p>
                                <div class="work-profile1">
                                    <p>Assistant Manager (Supply Chain) at Reckitt</p>
                                    <p>FMCG</p>
                                </div>
                                <div class="work-profile2">
                                    <p>Analytics Intern at GE Aviation</p><br>
                                    <p>Piping Stress Engineer Intern at Jacobs</p><br>
                                    <p>Overall Coordinator at NSS IITB</p><br>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="item-e">
                    <div class="box">
                        <div class="slide-box">
                            <div class="detail-box">
                                <p class="dept">Civil, B.Tech-2021</p>
                                <div class="work-profile1">
                                    <p>SWE at Apple</p>
                                    <p>IT/Software</p>
                                </div>
                                <div class="work-profile2">
                                    <p>SDE Internship at Amazon</p><br>
                                    <p>Research Intern (remote) at UCLA and UCSD</p><br>

                                </div>

                            </div>
                        </div>

                    </div>
                </li>
                <li class="item-f">
                    <div class="box">
                        <div class="slide-box">
                            <div class="detail-box">
                                <p class="dept">Electrical, DD-2021</p>
                                <div class="work-profile1">
                                    <p>Software Engineer at Google</p>
                                    <p>IT/Software</p>
                                </div>
                                <div class="work-profile2">
                                    <p>DDP in Reinforcement Learning</p><br>
                                    <p>Internship at Qualcomm India Internship</p><br>
                                    <p>Coordinator</p>

                                </div>

                            </div>
                        </div>

                    </div>
                </li>
                <li class="item-g">
                    <div class="box">
                        <div class="slide-box">
                            <div class="detail-box">
                                <p class="dept">Chemical, B.Tech-2021</p>
                                <div class="work-profile1">
                                    <p>Data Scientist at Optiver</p>
                                    <p>Quantitative Trader</p>
                                </div>
                                <div class="work-profile2">
                                    <p>Quantitative Analyst Intern at Voltaire Capital</p><br>
                                    <p>Data Science Intern at Parimal Enterprise Limited</p><br>
                                    <p>Events CTM at SARC IITB</p>

                                </div>

                            </div>
                        </div>

                    </div>
                </li>
                <li class="item-h">
                    <div class="box">
                        <div class="slide-box">
                            <div class="detail-box">
                                <p class="dept">Chemical, B.Tech-2020</p>
                                <div class="work-profile1">
                                    <p>SOftware Engineer at Jaguar Land Rover</p>
                                    <p>IT/Software</p>
                                </div>
                                <div class="work-profile2">
                                    <p>Intern at ABI in InBev</p><br>
                                    <p></p><br>

                                </div>

                            </div>
                        </div>

                    </div>
                </li>
                <li class="item-i">
                    <div class="box">
                        <div class="slide-box">
                            <div class="detail-box">
                                <p class="dept">EP, B.Tech-2021</p>
                                <div class="work-profile1">
                                    <p>Associate Consultant at Mastercard</p>
                                    <p>Consultancy</p>
                                </div>
                                <div class="work-profile2">
                                    <p>Business Analyst at Deloitte</p><br>
                                    <p>Business Strategist in CEO's office at Meesho</p><br>
                                    <p>Core Group Member, Mood Indigo, 2019</p>

                                </div>

                            </div>
                        </div>

                    </div>
                </li>
                <li class="item-j">
                    <div class="box">
                        <div class="slide-box">
                            <div class="detail-box">
                                <p class="dept">Mechanical, DD-2020</p>
                                <div class="work-profile1">
                                    <p>Scientist/Engineer (Space Technology) at Space Applications Centre, ISRO</p>
                                    <p>Core</p>
                                </div>
                                <div class="work-profile2">
                                    <p>Intern at Unilever</p><br>
                                    <p>Project Manager of Student Satellite Program IITB</p><br>
                                    <p>Institute Technical Projects Nominee at IITB</p>

                                </div>

                            </div>
                        </div>

                    </div>
                </li>
                <li class="item-k">
                    <div class="box">
                        <div class="slide-box">
                            <div class="detail-box">
                                <p class="dept">Mechanical, B.Tech-2021</p>
                                <div class="work-profile1">
                                    <p>Data & Applied Scientist at Microsoft</p>
                                    <p>Machine Learning</p>
                                </div>
                                <div class="work-profile2">
                                    <p>Intern at Microsoft</p><br>
                                    <p>Intern at GSoC</p><br>
                                    <p>Institute System Administrator</p>

                                </div>

                            </div>
                        </div>

                    </div>
                </li>
                <li class="item-l">
                    <div class="box">
                        <div class="slide-box">
                            <div class="detail-box">
                                <p class="dept">Mechanical, B.Tech-2021</p>
                                <div class="work-profile1">
                                    <p>Associate Consultant at NRI Consulting</p>
                                    <p>Consultancy</p>
                                </div>
                                <div class="work-profile2">
                                    <p>Management Consulting Intern at NRI Consulting</p><br>
                                    <p>Institute Secretary of Academic Affairs</p><br>
                                    <p>DAMP Cabinet</p>

                                </div>

                            </div>
                        </div>

                    </div>
                </li>

            </ul>
        </section>

    </div>





    {% comment %} section for contact {% endcomment %}
    <div class='section1 contact'>
        <div id='contact'>CONTACT US</div>
        <div class='container '>
            <div class='contactOne'>
                <p>Priyam Vijayvargia</p>
                <p>Core Team Member, Hostel and Department Affairs</p>
                <p>Contact Number - 07412011226</p>
                <p>Email - priyamvijayvargia.sarc@gmail.com</p>
            </div>
            <div class='contactTwo'>
                <p>Vivitsa Jain</p>
                <p>Core Team Member, Hostel and Department Affairs</p>
                <p>Contact Number - 09967873350</p>
                <p>Email - vivitsa.sarc@gmail.com</p>
            </div>
        </div>
    </div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
  
  </body>
</html>
