<!-- {% for mentor in mentor_list %}
<div>
    <p>{{mentor.designation}}</p>
</div>
{% endfor %} -->
<!-- temp mentor preference form -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'menteeinfo/style.css' %}">
  <title>Document</title>
</head>

<body>
  

  <ul class="menu">
    <li><a href="core.html" >Core</a></li>
    <li><a href="consult.html">Consult</a></li>
    <li><a href="analytics.html" class="active">Analytics</a></li>
    <li><a href="finance.html" >Finance</a></li>
    <li><a href="IT_software.html">IT/Software</a></li>
    <li><a href="others.html">Others</a></li>
    <li class="slider"></li>
  </ul>
  <div class="container">

  </div>
<div class="row">
    {% for mentor in mentors_list %}
    <div class="col">
      <div class="con">
        <a class="card1" href="#">
          <h3>{{mentor.rollno}}</h3>
          <p class="small">Card description with lots of great facts and interesting details.</p>
          <div class="go-corner" href="#">
            <div class="go-arrow">
              →
            </div>
          </div>
        </a>
      </div>
    </div>  
    {% endfor %}  
</div>

  </div>
</body>

</html>
<form action="register/" class="preferences" method="POST">
    {% csrf_token %}
    <input name="preference_1" placeholder="P1">
    <input name="preference_2" placeholder="P2">
    <input name="preference_3" placeholder="P3">
    <input name="preference_4" placeholder="P4">
    <input name="preference_5" placeholder="P5">
    <button type="submit">Submit</button>
</form>