<!-- {% for mentor in mentor_list %}
<div>
    <p>{{mentor.designation}}</p>
</div>
{% endfor %} -->
<!-- temp mentor preference form -->
<form action="register/" class="preferences" method="POST">
    {% csrf_token %}
    <input name="preference_1" placeholder="P1">
    <input name="preference_2" placeholder="P2">
    <input name="preference_3" placeholder="P3">
    <input name="preference_4" placeholder="P4">
    <input name="preference_5" placeholder="P5">
    <button type="submit">Submit</button>
</form>