<!-- MultiStep Form -->
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link type='text/css' rel="stylesheet" href="{% static 'menteeinfo/random.css' %}">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script  src="{% static 'menteeinfo/regform.js' %}"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    </head>
<body>
    <div class = "container-fluid px-0">
        
        <header>PLACEMENT MENTORING PROGRAMME</header>
    </div>
    <div class="container" id="t01">
        <div class="row justify-content-center">
            <div class="col-11 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3" id="t01">
                    <h2 id="heading">MENTEE REGISTRATION FORM</h2>
                    <p>Fill all form field to go to next step</p>
                    <form id="msform" action="regcom/" method="POST">
                        <!-- progressbar -->{% csrf_token %}
                        <ul id="progressbar">
                            <li class="active" id="account"><strong>Personal Details</strong></li>
                            <li id="personal"><strong>Choose your Mentors</strong></li>
                            <li id="confirm"><strong>Finish</strong></li>
                        </ul>
                        <!-- fieldsets -->
                        <fieldset>
                            <div class="form-card" id="t01">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Personal Details:</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 1 - 3</h2>
                                    </div>
                                </div> <label class="fieldlabels">Name: *</label> <input type="text" name="full_name" placeholder="Your Name" id="name"/> 
                                <label class="fieldlabels">Roll No. *</label> <input type="text" name="roll_no" placeholder="Your Roll No." id="roll_no"/> 
                                <label class="fieldlabels">Department *</label>
                                <select class="form-select my-3" aria-label="Department" name='department' id='department'>
                                    <option selected>Department</option>
                                    <option value="Aerospace">Aerospace</option>
                                    <option value="BSBE">BSBE</option>
                                    <option value="Chemical">Chemical</option>
                                    <option value="Civil">Civil</option>
                                    <option value="CSE">CSE</option>
                                    <option value="Earth Science">Earth Science</option>
                                    <option value="Electrical">Electrical</option>
                                    <option value="Energy">Energy</option>
                                    <option value="EP">EP</option>
                                    <option value="ESED">ESED</option>
                                    <option value="HSS">HSS</option>
                                    <option value="IEOR">IEOR</option>
                                    <option value="MEMS">MEMS</option>
                                    <option value="Mechanical">Mechanical</option>
                                    <option value="Chemistry">Chemistry</option>
                                    <option value="Mathematics">Mathematics</option>
                                    <option value="Mathematics">Physics/EP</option>
                                </select>
                                
                            <label class="fieldlabels">Degree: *</label>
                            <select class="form-select my-3" aria-label="Department" name='degree' id='department'>
                                <option selected>Degree</option>
                                <option value="btech">B.Tech</option>
                                <option value="bs">B.S</option>
                                <option value="mtech">M.Tech</option>
                                <option value="msc">M.Sc</option>
                                <option value="phd">PhD</option>
                                <option value="other">Other</option>
                            </select> 
                            <input type="text" class="form-control" id="degree_other" name="degree_other" placeholder = "Degree (in case of others)" required>
                             
                        <label class="fieldlabels">Contact Number*</label>
                         <input type="text" class="form-control" id="contact" name="contact" placeholder = "Contact Number" required>
 
                            <label class="fieldlabels">Email: </label>
                            <input type="text" name="email_id" placeholder = "Email ID" id="email_id"/>
                            <label class="fieldlabels">Statement of Purpose: *</label>
                            <textarea id="t04" name="SOP" rows="10" placeholder="Statement of Purpose"></textarea>
                            <label class="fieldlabels">Suggestions</label>
                            <textarea id="suggestion" name="suggestion" rows="10" placeholder="suggestions"></textarea>
                            <div class="mb-3">
                              <ul style='color:white;'>
                                <li>I will support the mentee to the best of my abilities.</li>
                                <li>I will be responsive to the mentee's doubts and queries.</li>
                                <li>I will provide adequate feedback to SARC (through feedback forms).</li>
                              </ul>
                              
                             <input class="form-check-input" type="radio" name="Iagree" id="Iagree"  checked>
                             <label class="form-check-label" for="Iagree" style='color:white; '> I agree</label>
                             </div>
                            </div>

                            
                            <input type="button" name="next" class="next action-button" value="Next" id="next_button"/>
                        </fieldset>
                        <fieldset>
                            <div class="form-card" id="t01">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Choose Your Mentors: </h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 2 - 3</h2>
                                    </div>
                                </div> <br><br>
                                <div class="bs-example">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="core" href="#core" data-toggle="tab">Core</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#consult" data-toggle="tab">Consult</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#analytics" data-toggle="tab">Analytics</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#finance" data-toggle="tab">Finance</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#software" data-toggle="tab">IT/Software</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#others" data-toggle="tab">Others</a>
                                        </li>
                                    </ul>
                                    
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="core">
                                            <div class="row" id="t05">
                                                {% for mentor in mentors_list_core %}
                                                <div class="col-sm-3" id="mentors">
                                                  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;" id="t06">
                                                        <div class="card-header">Mentor id: {{mentor.id}}</div>
                                                      <div class="card-body" style="height: 367.2px;">
                                                        <h6 class="degree" style="color: #87c240;">{{mentor.department}} - {{mentor.graduation_year}}</h4>
                                                        <h5 class="card-title">{{mentor.workprofile}}</h5>
                                                        <p class="card-text">{{mentor.experience}}</p>
                                                      </div>
                                                  </div>  
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    

                                    <div class="tab-pane fade" id="consult">
                                      <div class="row" id="t05">
                                        {% for mentor in mentors_list_consult %}
                                        <div class="col-sm-3" id="mentors">
                                          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;" id="t06">
                                                <div class="card-header">Mentor id: {{mentor.id}}</div>
                                              <div class="card-body" style="height: 367.2px;">
                                                <h6 class="degree" style="color: #87c240;">{{mentor.department}} - {{mentor.graduation_year}}</h4>
                                                <h5 class="card-title">{{mentor.workprofile}}</h5>
                                                <p class="card-text">{{mentor.experience}}</p>
                                              </div>
                                          </div>  
                                        </div>
                                        {% endfor %}
                                      </div>
                                    </div>

                                    <div class="tab-pane fade" id="analytics">
                                      <div class="row" id="t05">
                                        {% for mentor in mentors_list_analysis %}
                                        <div class="col-sm-3" id="mentors">
                                          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;" id="t06">
                                                <div class="card-header">Mentor id: {{mentor.id}}</div>
                                              <div class="card-body" style="height: 367.2px;">
                                                <h6 class="degree" style="color: #87c240;">{{mentor.department}} - {{mentor.graduation_year}}</h4>
                                                <h5 class="card-title">{{mentor.workprofile}}</h5>
                                                <p class="card-text">{{mentor.experience}}</p>
                                              </div>
                                          </div>  
                                        </div>
                                        {% endfor %}
                                      </div>
                                    </div>

                                    <div class="tab-pane fade" id="finance">
                                      <div class="row" id="t05">
                                        {% for mentor in mentors_list_fin %}
                                        <div class="col-sm-3" id="mentors">
                                          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;" id="t06">
                                                <div class="card-header">Mentor id: {{mentor.id}}</div>
                                              <div class="card-body" style="height: 367.2px;">
                                                <h6 class="degree" style="color: #87c240;">{{mentor.department}} - {{mentor.graduation_year}}</h4>
                                                <h5 class="card-title">{{mentor.workprofile}}</h5>
                                                <p class="card-text">{{mentor.experience}}</p>
                                              </div>
                                          </div>  
                                        </div>
                                        {% endfor %}
                                      </div>
                                    </div>

                                    <div class="tab-pane fade" id="software">
                                      <div class="row" id="t05">
                                        {% for mentor in mentors_list_cs %}
                                        <div class="col-sm-3" id="mentors">
                                          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;" id="t06">
                                                <div class="card-header">Mentor id: {{mentor.id}}</div>
                                              <div class="card-body" style="height: 367.2px;">
                                                <h6 class="degree" style="color: #87c240;">{{mentor.department}} - {{mentor.graduation_year}}</h4>
                                                <h5 class="card-title">{{mentor.workprofile}}</h5>
                                                <p class="card-text">{{mentor.experience}}</p>
                                              </div>
                                          </div>  
                                        </div>
                                        {% endfor %}
                                      </div>
                                    </div>

                                    <div class="tab-pane fade" id="others">
                                      <div class="row" id="t05">
                                        {% for mentor in mentors_list_other %}
                                        <div class="col-sm-3" id="mentors">
                                          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;" id="t06">
                                                <div class="card-header">Mentor id: {{mentor.id}}</div>
                                              <div class="card-body" style="height: 367.2px;">
                                                <h6 class="degree" style="color: #87c240;">{{mentor.department}} - {{mentor.graduation_year}}</h4>
                                                <h5 class="card-title">{{mentor.workprofile}}</h5>
                                                <p class="card-text">{{mentor.experience}}</p>
                                              </div>
                                          </div>  
                                        </div>
                                        {% endfor %}
                                      </div>
                                    </div>

                                </div>
                                </div>
                                <label class="fieldlabels">First Preference: </label>
                            <input type="text" name="preference_1" placeholder="First Preference Mentor's id">
                            <label class="fieldlabels">Second Preference: </label>
                            <input type="text" name="preference_2" placeholder="Second Preference Mentor's id">
                            <label class="fieldlabels">Third Preference: </label>
                            <input type="text" name="preference_3" placeholder="Third Preference Mentor's id">
                            <label class="fieldlabels">Fourth Preference: </label>
                            <input type="text" name="preference_4" placeholder="Fourth Preference Mentor's id">
                            <label class="fieldlabels">Fifth Preference: </label>
                            <input type="text" name="preference_5" placeholder="Fifth Preference Mentor's id">

                            </div> <button type="submit" name="next" class="next action-button" value="Next">Submit</button> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                        </fieldset>
                       </form>
                        {% comment %} <fieldset>
                            <div class="form-card" id="t01">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Finish:</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 3 - 3</h2>
                                    </div>
                                </div> <br><br>
                                <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                                <div class="row justify-content-center">
                                    <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
                                </div> <br><br>
                                <div class="row justify-content-center">
                                    <div class="col-7 text-center">
                                        <h5 class="purple-text text-center">You Have Successfully Signed Up</h5>
                                    </div>
                                </div>
                            </div>
                        </fieldset> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>