* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

body {
    background : #222629;
}

p {
    color: grey
}

#heading {
    text-transform: uppercase;
    color: greenyellow;
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input,
#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 20px;
    letter-spacing: 1px;
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid greenyellow;
    outline-width: 0
}

#msform .action-button {
    width: 100%;
    background: greenyellow;
    font-weight: bold;
    color: black;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right;
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: greenyellow;
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: greenyellow;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #673AB7;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: white;
    text-align: left;
    font-size: 150%;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: white;
}

#progressbar .active {
    color: greenyellow;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 33.33%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: greenyellow;
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: red;
}

.fit-image {
    width: 100%;
    object-fit: cover
}

#t01 {
    background-color: #222629;
}

.t03 {
    background-color: #222629;   
}
.container {
    border: 5px solid greenyellow;
}

.container-fluid header{
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 30px 0;
    background-color: #87C240;
    color: black;
    text-align: center;
    padding: 20px;
  }
#department {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px;
}

#t04 {
    padding: 15px 15px 15px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px;
}

.nav-link {
    color: black;
    font-size: 125%;
    background: greenyellow;
    border: 5px solid black;
    text-align: center;
}

#t05 {
    padding: 20px;
}

#t06:hover{
    box-shadow: 8px 8px 5px greenyellow;    
    transform: scale(1.1);
}

ul#tabs li {
    display: inline;
}

/*CARDS*************************************************************************************/

.card-header {
    color: greenyellow;
}

.card-title {
    font-size: 150%;
    color: white;
}

.nav-item {
    border: 30px solid #222629;
    text-align: center;
    font-size: 110%;
}
.card-body{
    height: 367.2px;
}

@media only screen and (max-width: 1000px){
    .row{
        flex-basis: 1;
    }
}