* {
  box-sizing: border-box;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79D0KEwA.ttf)
    format("truetype");
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "PT Sans", Arial, Verdana;
  background-color: #222629;
}
h1 {
  text-align: center;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #222;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 120px;
  margin: auto;
  position: relative;
  background-color: #87c240;
  z-index: 7;
}
.menu li {
  float: left;
  width: 16.66%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.menu a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #222629;
  text-decoration: none;
  position: relative;
  font-size: 90px;
  z-index: 9;
}
a.active {
  background-color: #222629;
  pointer-events: none;
  color: #87c240;
}
li.slider {
  width: 16.66%;
  height: 100%;
  position: absolute;
  left: 33.33%;
  top: 0;
  background-color: #222629;
  z-index: 8;
  transition: left 0s, background-color 0s;
  
}

.menu li:nth-child(1):focus ~ .slider,
.menu li:nth-child(1):active ~ .slider {
  left: 0;
  background-color: #87c240;
}

.menu li:nth-child(2):focus ~ .slider,
.menu li:nth-child(2):active ~ .slider {
  left: 16.66%;
  background-color: #87c240;
}

.menu li:nth-child(3):focus ~ .slider,
.menu li:nth-child(3):active ~ .slider {
  left: 33.33%;
  background-color: #87c240;
}

.menu li:nth-child(4):focus ~ .slider,
.menu li:nth-child(4):active ~ .slider {
  left: 50%;
  background-color: #87c240;
}

.menu li:nth-child(5):focus ~ .slider,
.menu li:nth-child(5):active ~ .slider {
  left: 66.66%;
  background-color: #87c240;
}
.menu li:nth-child(6):focus ~ .slider,
.menu li:nth-child(6):active ~ .slider {
  left: 83.33%;
  background-color: #87c240;
}
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
* {
  transition: all 0s;
}

html,
body {
  height: 100%;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

.con {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h3 {
  color: #262626;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;
}
p.small {
  font-size: 14px;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #00838d;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1 {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}
.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}
.card1:hover:before {
  transform: scale(21);
}

.card1:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}
.card1:hover h3 {
  transition: all 0.3s ease-out;
  color: #ffffff;
}
